use_directory_urls: false # setting this false makes static html work without --no-directory-url build flag

extra_css:
  - css/extra.css
  
theme:
  name: material
  logo: assets/sclogo.png
  favicon: assets/sclogo_white.png
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: orange
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: orange
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.footer
    - navigation.indexes

copyright: Copyright &copy; Granite Devices Inc

repo_url: https://github.com/Simucube/simucube-docs.github.io
repo_name: Contribute an edit
edit_uri: edit/main/docs/

extra:
  generator: false
  social:
    - icon: fontawesome/brands/facebook 
      link: https://facebook.com/simucube
    - icon: fontawesome/brands/discord 
      link: https://discord.gg/simucube
    - icon: fontawesome/brands/linkedin 
      link: https://www.linkedin.com/company/granite-devices
    - icon: fontawesome/brands/tiktok
      link: https://www.tiktok.com/@simucube_official
    - icon: fontawesome/brands/twitter 
      link: https://twitter.com/simucube
    - icon: fontawesome/brands/youtube
      link: https://youtube.com/simucube
    - icon: fontawesome/brands/instagram
      link: https://instagram.com/simucube
    - icon: fontawesome/brands/github
      link: https://github.com/simucube      

site_name: Simucube Online Guide

plugins:
    - mkdocs-video
    - search
    - link-marker
    - redirects:
        redirect_maps:
          'ActivePedal/Getting started.md': 'ActivePedal/index.md'
          'TunerSoftware/TunerLegacy/Download.md': 'TunerSoftware/TunerLegacy/index.md'
          'ActivePedal/games/index.md' : 'TunerSoftware/TunerLegacy/games/index.md'

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - abbr
  - pymdownx.snippets:
      auto_append:
        - assets/abbreviations.md
  - pymdownx.keys
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      
nav:
    - Home: index.md
    - Simucube 3:
        - Simucube3/index.md
        - Hazards & safety:
          - Warnings and guidelines: Simucube3/Warnings.md
          - Safe usage instructions: Simucube3/Safety.md
        - Hardware setup:
          - Items needed: Simucube3/Items needed.md
          - Mounting: Simucube3/Mounting.md
          - Cabling: Simucube3/Cabling.md
          - Link Control Box: Simucube3/Control Box.md
          - Link Quick release: Simucube3/Quick release.md
        - Software setup:
          - Getting started: Simucube3/Software/First use.md
          - Basic setup: Simucube3/Software/Setup.md
          - Wireless wheels: Simucube3/Software/Wireless Wheels.md
        - FAQ: Simucube3/FAQ.md
        - Troubleshooting: Simucube3/Troubleshooting.md
        - Specifications: Simucube3/Specifications.md
        - Drawings & 3D models: Simucube3/Drawings.md
    - Simucube 2: 
        - Simucube 2/index.md
        - Hazards & safety: Simucube 2/Safety.md
        - Hardware & software setup:
          - Items needed: Simucube 2/Items needed.md
          - Mounting: Simucube 2/Mounting.md
          - Cabling: Simucube 2/Cabling.md
          - Software setup: Simucube 2/Software/First use.md
        - Driving tips: Simucube 2/Driving.md
        - FFB Strength setup: Simucube 2/Setting up FFB strength.md
        - Drawings & 3D models: Simucube 2/Drawings.md
        - Simucube 2 Quick Release: 
          - Installing Quick release to a wheel: Simucube 2/simucube 2 quick release.md
          - Simucube 2 Quick Release (motor side): Simucube 2/simucube 2 qr motor side.md
        - Simucube Mount: Simucube 2/mount.md
        - Troubleshooting:
          - Led color codes: Simucube 2/simucube 2 led cycles.md
          - Self-service instructions: Simucube 2/simucube 2 self service.md
    - ActivePedal Ultimate: 
        - ActivePedal/index.md
        - Hazards & safety: ActivePedal/Safety.md
        - Hardware & software setup:
          - Items needed: ActivePedal/Items needed.md
          - Mounting: ActivePedal/Mounting.md
          - Cabling: ActivePedal/Cabling.md
          - Software setup: ActivePedal/Software/First use.md
          - Configuration & Mechanical adjustments: ActivePedal/Mechanical adjustments.md
          - Adding passive pedal: ActivePedal/Software/Passive pedal setup.md
        - Effect settings:
          - Enabling game effects: ActivePedal/Game effect support.md
          - Pedal feel: ActivePedal/Software/Pedal feel.md
          - Simulator input mapping: ActivePedal/Software/input mapping.md
          - Effects: ActivePedal/Software/Effects.md
        - FAQ: ActivePedal/FAQ.md
        - Troubleshooting: ActivePedal/Troubleshooting.md
        - Specifications: ActivePedal/Specifications.md
        - Drawings & 3D models: ActivePedal/Drawings.md
        - Accessories:
          - Baseplate: ActivePedal/Baseplate.md
          - Heusinkveld adapter: ActivePedal/Heusinkveld adapter.md
    - ActivePedal Pro: 
        - ActivePedalPro/index.md
        - Hazards & safety: ActivePedalPro/Safety.md
        - Hardware & software setup:
          - Items needed: ActivePedalPro/Items needed.md
          - Mounting: ActivePedalPro/Mounting.md
          - Cabling: ActivePedalPro/Cabling.md
          - Software setup: ActivePedalPro/Software/First use.md
          - Configuration & Mechanical adjustments: ActivePedalPro/Mechanical adjustments.md
          - Adding passive pedal: ActivePedalPro/Software/Passive pedal setup.md
        - Effect settings:
          - Enabling game effects: ActivePedalPro/Game effect support.md
          - Pedal feel: ActivePedalPro/Software/Pedal feel.md
          - Simulator input mapping: ActivePedalPro/Software/input mapping.md
          - Effects: ActivePedalPro/Software/Effects.md
        - FAQ: ActivePedalPro/FAQ.md
        - Troubleshooting: ActivePedalPro/Troubleshooting.md
        - Specifications: ActivePedalPro/Specifications.md
        - Drawings & 3D models: ActivePedalPro/Drawings.md
        - Accessories:
          - Baseplate: ActivePedalPro/Baseplate.md
          - Heusinkveld adapter: ActivePedalPro/Heusinkveld adapter.md
    - Throttle:
        - Simucube Throttle/index.md
        - Hardware & software setup:
            - Items needed: Simucube Throttle/Items needed.md
            - Mechanical adjustments: Simucube Throttle/Mechanical adjustments.md
            - Mounting: Simucube Throttle/Mounting.md
            - Software setup: Simucube Throttle/setup.md
        - Troubleshooting: Simucube Throttle/Troubleshooting.md
        - FAQ: Simucube Throttle/FAQ.md
        - Specifications: Simucube Throttle/Specifications.md
        - Drawings & 3D models: Simucube Throttle/Drawings.md
        - Damper: Simucube Throttle/damper.md
    - Steering Wheels:
        - Wheels/index.md
        - Valo: Wheels//Valo/Valo.md
        - Tahko: Wheels/Tahko/Tahko.md
        - Savu: Wheels/Savu/Savu.md
    - Accessories:
        - Link Quick release: Accessories/LinkQRWheelSide.md
        - 50.8mm to 70mm Adapter:  Accessories/50.8Adapter.md
        - Simucube 3 - 70mm Adapter: Accessories/70Adapter.md   
        - Simucube 3 - Shaft Extension Kit: Accessories/ExtensionKit.md        
        - Simucube 2 - Link Quick release Adapter: Accessories/SC2Adapter.md
        - Simucube 2 - Wheel side Quick Release: Accessories/simucube 2 quick release.md1
        - Simucube Mount: Accessories/mount.md  
        - ActivePedal - Baseplate: Accessories/Baseplate.md
        - ActivePedal - Heusinkveld Adapter: Accessories/Heusinkveld adapter.md
        - Throttle - Damper: Accessories/damper.md
    - Tuner Software:
        - TunerSoftware/index.md
        - Change log: TunerSoftware/changelog.md
        - Tuner 3.0: 
          - TunerSoftware/userinterface/index.md
          - Profiles: TunerSoftware/userinterface/profiles.md
          - Profile Handling: TunerSoftware/userinterface/profilehandling.md
          - Automatic Profile Switch: TunerSoftware/userinterface/automaticprofileswitch.md
        - Tuner Legacy Version:
          - TunerSoftware/tunerlegacy/index.md
          - Legacy Overview: TunerSoftware/tunerlegacy/overview.md
        - Steering Wheels: 
          - TunerSoftware/steeringwheel/index.md
          - Input / Button Remap: TunerSoftware/steeringwheel/inputbuttonremap.md
          - LED Configuration: TunerSoftware/steeringwheel/ledconfiguration.md
        - Wheelbases: 
          - TunerSoftware/wheelbases/index.md
          - Simucube 2 Effects: TunerSoftware/wheelbases/wheelbaseeffects.md
          - Simucube 2 Settings: TunerSoftware/wheelbases/wheelbasesettings.md
        - Pedals:
          - TunerSoftware/pedals/index.md
        - Command Line Options: TunerSoftware/commandlineoptions.md
        - Enabling game telemetry effects and FFB:
          - Game telemetry setup: TunerSoftware/games/index.md
          - Automobilista : TunerSoftware/games/Automobilista.md
          - Automobilista 2: TunerSoftware/games/Automobilista2.md
          - BeamNG.drive: TunerSoftware/games/BeamNG.md
          - Codemasters F1: TunerSoftware/games/F1.md
          - Dirt Rally 1 & 2: TunerSoftware/games/DirtRally.md
          - EA Sports WRC: TunerSoftware/games/EA Sports WRC.md
          - Forza Motorsport 8: TunerSoftware/games/Forza Motorsport 8.md
          - Live for Speed: TunerSoftware/games/LFS.md
          - Le Mans Ultimate: TunerSoftware/games/LMU.md
          - Project CARS: TunerSoftware/games/pCARS.md
          - Project CARS 2: TunerSoftware/games/pCARS2.md
          - rFactor : TunerSoftware/games/rf.md
          - rFactor 2: TunerSoftware/games/rf2.md
          - Richard Burns Rally: TunerSoftware/games/RBR.md
          - WRC Generations: TunerSoftware/games/WRC Generations.md
    - Developers:
      - Simucube Link: Developers/Simucube Link.md
      - ActivePedal:
        - Electrical pinouts: Developers/ActivePedal/Pinouts.md
      - Simucube 2: Simucube 2/Developers.md
#        - API: Developers/ActivePedal/API.md